---
layout: default
images:
  - image_path: assets/img/coxinha.png
    title: Coxinha
    class: coxinha
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis totam, obcaecati minima laboriosam aut hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/coxinhafrango.jpg
  - image_path: assets/img/empanadobox.png
    title: Empanado
    class: empanado
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora placeat ipsa, dignissimos iste recusandae eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/empada.jpg
  - image_path: assets/img/enroladinhobox.png
    title: Enroladinho
    class: enroladinho
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, eos error magnam iure explicabo sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/enroladinho.jpg
  - image_path: assets/img/paopizzabox.png
    title: Pão Pizza
    class: paopizza
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla asperiores consectetur repudiandae est voluptatum molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/paopizza.jpg
  - image_path: assets/img/esfirrabox.png
    title: Esfirra
    class: esfirra
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/esfirra.jpg
  - image_path: assets/img/croissantpresuntoqueijothumb.png
    title: Croissant
    class: croissantpq
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/croissantpresuntoqueijo.jpg    
  - image_path: assets/img/croissantpresuntohumb.png
    title: Croissant
    class: croissantq
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/croissantpresunto.jpg    
  - image_path: assets/img/kibecarnethumb.png
    title: Kibe
    class: kibecarne
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/kibecarne.jpg  
  - image_path: assets/img/kibequeijothumb.png
    title: Kibe
    class: kibe
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/kibequeijo.jpg
  - image_path: assets/img/paocalabresathumb.png
    title: Pão Calabresa
    class: paocalabresa
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/paocalabressa.jpg 
  - image_path: assets/img/paodavovothump.png
    title: Pão da Vovó
    class: paodavovo
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/paodavovo.jpg
  - image_path: assets/img/risolethumb.png
    title: Risole
    class: risole
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/risole.jpg  
  - image_path: assets/img/suicothumb.png
    title: Croissant
    class: croissantpq
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger: assets/img/suico.jpg     
title: Home
active: home
---

{% include header.html %}
{% include _home/salgados.html %}
{% include _home/eventos.html %}
{% include _home/cta.html %}
{% include footer.html %}