---
layout: default
images:
  - image_path: assets/img/coxinha.png
    title: Coxinha
    class: coxinha
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis totam, obcaecati minima laboriosam aut hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
  - image_path: assets/img/empanadobox.png
    title: Empanado
    class: empanado
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora placeat ipsa, dignissimos iste recusandae eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
  - image_path: assets/img/enroladinhobox.png
    title: Enroladinho
    class: enroladinho
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, eos error magnam iure explicabo sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
  - image_path: assets/img/paopizzabox.png
    title: Pão Pizza
    class: paopizza
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla asperiores consectetur repudiandae est voluptatum molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
  - image_path: assets/img/esfirrabox.png
    title: Esfirra
    class: esfirra
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequatur aliquam, labore, nam alias aliquid!
    img_bigger:
title: Home
active: home
---

{% include header.html %}
{% include _home/salgados.html %}
{% include _home/eventos.html %}
{% include _home/cta.html %}
{% include footer.html %}
