<footer>
  <div class="middleblock">
    <ul class="left">
      <li>
        <div onclick="window.location.href='{{ site.url }}'" class="logo"></div>
      </li>
      <li>
        <a class="font1 fw700 ttup main-gray" href="{{ site.url }}/about">Home</a>
      </li>
      <li>
        <a class="font1 fw700 ttup main-gray" href="{{ site.url }}/quemsomos">Quem Somos</a>
      </li>
      <li>
        <a class="font1 fw700 ttup main-gray" href="{{ site.url }}/eventos">Eventos</a>
      </li>
      <li>
        <a class="font1 fw700 ttup main-gray" href="{{ site.url }}/contato">Contato</a>
      </li>
    </ul>
    <ul class="right">
      <li>
        <p class="font2 fw500 light-gray">Copyright Fino Sabor. All Rights Reserved 2017</p>
      </li>
    </ul>
  </div>
</footer>
