<footer>
  <ul class="left">
    <li>
      <div onclick="window.location.href='{{ site.url }}'" class="logo"></div>
    </li>
    <li>
      <p class="font2 fw500 content-color">Copyright Citara Labs 2017</p>
    </li>
  </ul>
  <ul class="right">
    <li>
      <a class="font2 fw500 content-color" href="{{ site.url }}/about">About</a>
    </li>
    <li>
      <a class="font2 fw500 content-color" href="{{ site.url }}/projects">Projects</a>
    </li>
    <li>
      <a class="font2 fw500 content-color" href="{{ site.url }}/contact">Contact</a>
    </li>
    <li>
      <a class="font2 fw500 main-bgc white btn get db brs" href="{{ site.url }}/get_started">Get Started</a>
    </li>
  </ul>
</footer>
