<header class="padtop">
  <nav class="main-nav">
    <div class="centernav">
      <ul>
        <li class="nav-item"><a class="main-gray fw700 font1" href="/finosabor/">Home</a></li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="/finosabor/produtos">Produtos</a></li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="/finosabor/clientes">Clientes</a></li>
        <li class="nav-item">
          <div class="logo"></div>
        </li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="/finosabor/eventos">Eventos</a></li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="/finosabor/contato">Contato</a></li>
      </ul>
      <div class="tel-mail">
        <div class="email fw900 fsit font1">contato@finosabor.com.br</div>
        <div class="telefone fw900 fsit font1">3556-4497 / </div>
      </div>
    </div>
  </nav>
  <div class="middleblock">
  {% if page.active == "home" %}
      {% include _home/welcome.html %}
  {% endif %}
  </div>
  {% if page.active == "quemsomos" %}
      {% include _quemsomos/welcome.html %}
  {% endif %}
  {% if page.active == "clientes" %}
      {% include _clients/welcome.html %}
  {% endif %}
  {% if page.active == "contact" %}
      {% include _contact/welcome.html %}
  {% endif %}
  {% if page.active == "eventos" %}
      {% include _eventos/welcome.html %}
  {% endif %}
</header>
