<header class="padtop">
  <nav class="main-nav">
    <div class="left">
      <div class="logo"></div>
    </div>
    <div class="right">
      <ul>
        <li class="nav-item"><a class="main-gray fw700 font1" href="{{ site.url }}/contato">Contato</a></li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="{{ site.url }}/eventos">Eventos</a></li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="{{ site.url }}/quemsomos">Quem Somos</a></li>
        <li class="nav-item"><a class="main-gray fw700 font1" href="{{ site.url }}/">Home</a></li>
      </ul>
      <div class="tel-mail">
        <div class="email fw900 fsit font1">contato@finosabor.com.br</div>
        <div class="telefone fw900 fsit font1">3556-4497 / </div>
      </div>
    </div>
  </nav>
  <div class="middleblock">
  {% if page.active == "home" %}
      {% include _home/welcome.html %}
  {% endif %}
  </div>
  {% if page.active == "quem_somos" %}
      {% include _quemsomos/welcome.html %}
  {% endif %}
  {% if page.active == "contact" %}
      {% include _contact/welcome.html %}
  {% endif %}
  {% if page.active == "eventos" %}
      {% include _eventos/welcome.html %}
  {% endif %}
</header>
