<section class="cta">
  <h2 class="font2 fw300 header-color ta">Want to start your own project?</h2>
  <p class="font1 fw300 content-color ta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus incidunt sit nemo accusamus, libero numquam. </p>
  <div class="center">
    <button class="font1 fw700 green brs" type="button" onclick="window.location.href='{{ site.url }}/contact'" name="button">CONTACT US</button>
    <button class="font1 fw700 cinza brs" type="button" name="button">GET STARTED</button>
  </div>
</section>
