<section class="uims">
  <h2 class="font2 fw300 header-color ta">Control Everything With a Touch</h2>
  <p class="subtittle font1 fw500 content-color ta"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
  <div class="uimsemulation">
    <div class="content">
      <h3 class="font2 fw300 header-color tar">Intuitive Interface</h3>
      <p class="font2 fw500 content-color2 tar"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloremque unde, veniam at libero laudantium corrupti consectetur! </p>
    </div>
    <div class="block">
      <div class="networks amarelo">
        <div class="icon"></div>
        <p class="font1 fw700 ta header-color">Rede Energia</p>
        <span class="font1 fw300 ta db content-color2 fz10">42 Grupos</span>
        <span class="font1 fw300 ta db content-color2 fz10">400 Devices</span>
      </div>
      <div class="networks centered roxo">
        <div class="icon"></div>
        <p class="font1 fw700 ta header-color">Rede C. de Acesso</p>
        <span class="font1 fw300 ta db content-color2 fz10">42 Grupos</span>
        <span class="font1 fw300 ta db content-color2 fz10">400 Devices</span>
      </div>
      <div class="networks amarelo">
        <div class="icon"></div>
        <p class="font1 fw700 ta header-color">Rede de Energia</p>
        <span class="font1 fw300 ta db content-color2 fz10">42 Grupos</span>
        <span class="font1 fw300 ta db content-color2 fz10">400 Devices</span>
      </div>
      <div class="networks mtn verde">
        <div class="icon"></div>
        <p class="font1 fw700 ta header-color">Rede Esgoto</p>
        <span class="font1 fw300 ta db content-color2 fz10">42 Grupos</span>
        <span class="font1 fw300 ta db content-color2 fz10">400 Devices</span>
      </div>
      <div class="networks vermelho">
        <div class="icon"></div>
        <p class="font1 fw700 ta header-color">Rede Gás</p>
        <span class="font1 fw300 ta db content-color2 fz10">42 Grupos</span>
        <span class="font1 fw300 ta db content-color2 fz10">400 Devices</span>
      </div>
      <div class="networks mtn azul">
        <div class="icon"></div>
        <p class="font1 fw700 ta header-color">Rede Agua</p>
        <span class="font1 fw300 ta db content-color2 fz10">42 Grupos</span>
        <span class="font1 fw300 ta db content-color2 fz10">400 Devices</span>
      </div>
    </div>
    <div class="content">
      <h3 class="font2 fw300 header-color">Easy to Work</h3>
      <p class="font2 fw500 content-color2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus id sequi repudiandae qui necessitatibus ipsam, rem labore. </p>
    </div>
  </div>
</section>
