<header class="home-header">
  <div class="title-holder">
  <h1 class="font2 fw300 header-color">Welcome to Citara Labs Internet of Things</h1>
  <p class="subtittle font1 fw500 content-color2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
</div>
  <div class="rightheader">
    <div class="uiotmarkholder negative">
      <div class="uiotmark office">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
      <div class="uiotmark industry">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
      <div class="uiotmark home">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
    </div>
    <div class="uiotmarkholder">
      <div class="uiotmark energy">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
      <div class="uiotmark home">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
      <div class="uiotmark office">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
    </div>
    <div class="uiotmarkholder negative2">
      <div class="uiotmark office">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
      <div class="uiotmark energy">
        <div class="trademark">
          <div class="tradeimg"></div>
        </div>
      </div>
    </div>
  </div>
</header>
