<section class="quemsomos-section">
  <div class="middleblock">
    <div class="row">
      <div class="leftqs">
        <h2 class="title font3 fw500 main-gray">Gallois</h2>
        <p class="paragraph font1 fw500 light-gray">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        </p>
      </div>
      <div class="rightqs">
        <div class="imagep3"></div>
      </div>
    </div>
    <div class="row">
      <div class="leftqs">
        <div class="imagep1"></div>
      </div>
      <div class="rightqs">
        <h2 class="title font3 fw500 main-gray">UniCEUB</h2>
        <p class="paragraph font1 fw500 light-gray">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        </p>
      </div>
    </div>
    <div class="row">
      <div class="leftqs">
        <h2 class="title font3 fw500 main-gray">IESB</h2>
        <p class="paragraph font1 fw500 light-gray">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        </p>
      </div>
      <div class="rightqs">
        <div class="imagep2"></div>
      </div>
    </div>
  </div>
</section>