<section class="smart-content">
  <h2 class="features-title font1 fw300 ta">User Friendly Control</h2>
  <p class="features-subtitle font1 f300 ta">Have all your energy data in your hand, and keep it up to date</p>
  <div class="macuims"></div>
  <p class="info-features ta font1 fw500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil harum in a placeat vitae earum quod ipsa tempora delectus quidem, fuga provident recusandae hic ullam numquam magni! Corporis, soluta harum.</p>
</section>
