<section class="qualityes">
  <div class="quality">
    <div class="textquality lefts">
      <h2 class="mlnegative font2 fw300 header-color">See all your status in realtime updates</h2>
      <p class="mlnegative font1 fw500 content-color2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptas, culpa quos odit, ad voluptate saepe. </p>
      <a class="mlnegative font1 fw500 main-color" href="">GET STARTED IN CITARA LABS</a>
    </div>
    <div class="imgs smart-energy-image">

    </div>
  </div>
  <div class="quality">
    <div class="imgs"></div>
    <div class="textquality">
      <h2 class="font2 fw300 header-color">Sort your devices by networks and groups</h2>
      <p class="font1 fw500 content-color2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum pariatur blanditiis inventore sunt recusandae nostrum, illo! </p>
      <a class="font1 fw500 main-color" href="">GET STARTED IN CITARA LABS</a>
    </div>
  </div>
</section>
