<section class="contato-section">
  <h2 class="font3 fw500 main-gray fontsize tac">Contato</h2>
  <p class="font1 fw500 light-gray tac">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolor maxime veniam, est ab quas.</p>
  <div class="middleblock">
    <div class="left">
      <input type="text" placeholder="Nome" class="font1 fw300 input light-gray">
      <input type="text" placeholder="Email" class="font1 fw300 input light-gray">
      <input type="text" placeholder="Assunto" class="font1 fw300 input light-gray">
    </div>
    <div class="right">
      <textarea class="textarea font1 fw300 light-gray"></textarea>
      <input type="button" value="Enviar" class="input font1 fw700 white redbtn">
    </div>
  </div>
</section>
