<section class="contato-section">
  <h2 class="cta-title font3 fw500 tac">Interessado em Nossos Produtos?</h2>
  <p class="cta-subtitle fw500 font1 main-gray tac">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
  <div class="middleblock">
    <div class="left">
      <input type="text" placeholder="Nome">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Assunto">
    </div>
    <div class="right">
      <textarea></textarea>
      <input type="button" value="Enviar">
    </div>
  </div>
</section>
