<div class="contact_form">
  <form action="https://getsimpleform.com/messages?form_api_token=055e21c80c0ea89b11ecc2d0c412ba98" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='https://uiot.github.io/Enterprise/' />
    <!-- all your input fields here.... -->
    <label class="font1 fw700" for="">Nome</label>
    <input placeholder="Ex: Rafael A." class="name-contact" type='text' name='Name' />
    <label class="font1 fw700" for="">Email</label>
    <input placeholder="Ex: miguel.aguero@..." class="email-contact" type='email' name='Email' />
    <label class="font1 fw700" for="">Descrição</label>
    <input placeholder="Ex: Negocios" class="desc-contact" type='text' name='Descrição' />
    <label class="font1 fw700" for="">Mensagem</label>
    <textarea placeholder="Digite sua mensagem aqui" name="Mensagem" rows="8" cols="80"></textarea>
    <input class="font1 fw700 btn-contact" type='submit' value='Enviar Mensagem' />
  </form>
</div>
